@model Product

<form asp-controller="products" asp-action="Store" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product Name</label>
        <input asp-for="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span class="text-danger" asp-validation-for=Name></span>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product Price</label>
        <input asp-for="Price" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span class="text-danger" asp-validation-for=Price></span>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product Description</label>
        <textarea asp-for="Description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"></textarea>
        <span class="text-danger" asp-validation-for=Description></span>
    </div>


    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product Rate</label>
        <input asp-for="Rate" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span class="text-danger" asp-validation-for=Rate></span>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product Image</label>
        <input type="file" asp-for="Image" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span class="text-danger" ></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <select class="form-select" asp-for="CategoryId">
            @foreach (Category category in ViewBag.categories)
            {
                <option value="@category.Id">@category.Name</option>
            }


        </select>

    </div>
    <button class="btn btn-success">Save</button>
</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}